# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files (optional - if large)
data/*.csv

# Model files
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db

# Logs
*.log